body {
	font-family: 'Raleway', helvetica, sans-serif;
	color: #FFF;
	padding: 0;
	margin: 0;
	width: 100%;
}

li {
	text-decoration: none;
	list-style: none;
}

.container {
	margin: 0 auto;
	width: 960px;
}
.axium-header {
	background: #000;
	width: 100%;
	height: 100px;
	padding: 30px 0;
	margin: 0;
	box-shadow: 2px 2px 6px 3px rgba(0,0,0,.3);
}

.axium-top-nav {
   float: right;
   position: relative;
   display: block;
   padding-top: 25px;
}

.axium-search {
	width: 220px;
	float: right;
	margin-bottom: 10px;
} 

.axium-top-nav ul {
	padding: 0;
	margin: 0;
}

.axium-top-social-links li {
	display: inline-block;
	float: left;
	list-style-type: none;
	margin: 0 10px 0 0;
}

.axium-top-nav-links li {
  list-style-type: none;
  height: 25px;
  display: inline;
  color: #FFF;
  text-decoration: none;
  font-size: 11px;
  padding: 0 6px 0 9px;
  margin: 0;
}

.axium-top-nav-links li+li {
	border-left: 1px solid white;
}

.axium-main-nav {
	width: 100%;
	background: #ECECEC;
	height: 50px;
	color: #496B77;
	margin: -10px 0 0 0;
	padding: 0;
}


.axium-main-nav-links li {
	display: inline-block;
	float: left;
	list-style-type: none;
	margin-top: 10px;
	font-size: 22px;
	width: 170px;
	text-align: center;
	padding: 0;
}

.axium-main-nav-links li+li {
	border-left: 1px solid #496B77;
}

.axium-feature-wrap {
	background: url(../images/topsection-background.png);
	margin:  0;
	padding: 0;
	width: 100%;
}

.axium-feature-product {
	width: 960px;
	min-height: 600px;
	background: rgba(0,0,0,.4);
}

.axium-breadcrumb-links {
	width: 150px;
	padding: 10px 0 0 15px;
	margin: 0;
}

.axium-breadcrumb-links li {
	font-size: 13px;
	display: inline-block;
	float: left;
	list-style-type: none;
	padding: 10px 3px;
}

.axium-breadcrumb-links li:before {
content: " > ";
}

.axium-breadcrumb-links li:first-child:before {
content: none;
}

.axium-feature-image {
	float: left;
	position: relative;
	display: block;
	margin: 50px 70px 0 -80px;
	padding: 0;
	width: 400px;
}
.axium-feature-description {
	padding: 40px 20px 0px 20px;
	margin: 0;
}

.axium-feature-description h1 {
	font-weight: 100;
	font-size: 40px;
}

.axium-feature-list {
	font-weight: 100;
	text-transform: uppercase;
}

.axium-feature-list li {
	padding-bottom: 7px;
}

.axium-product-details {
	background: #898989;
	min-height: 800px;
	padding: 0;
	margin: 0;
	position: relative;
	z-index: 10;
	box-shadow: inset 0 7px 9px -7px rgba(0,0,0,.4);

}

.axium-tough-mojo-description {
	height: 600px;
	padding: 20px 10px 10px 40px;
	margin: 0;
	position: relative;
	width: 35%;
	float: left;
}

.axium-product-details img {
	padding: 20px 0 0 0;
	float: left;
	width: 500px;
	margin: 0;
}


.axium-product-details p {
	margin: 0;
	font-weight: 100;
	font-size: 16px;
	line-height: 1.5;
	padding-bottom: 20px;
} 

.axium-reviews {
	background: #00314F;
	height: 600px;
}

.axium-reviews h2 {
	margin: 0;
	font-weight: 100;
	font-size: 40px;
	padding: 30px 20px 20px 150px;
}

.axium-review-tagline a {
	font-size: 16px;
	color: #fff;
	padding-left: 30px;
}

.axium-review-headshot {
	width: 150px;
	float: left;
	margin: 0;
	padding-top: 25px;
}

.axium-review-headshot p {
	font-weight: 600;
	margin: 0;
	padding: 0;
}
.axium-review-headshot img {
	border: 1px solid #FFF;
}

.axium-review-body {
	width: 800px;
	float: left;
}

.axium-review-body img {
	padding: 0 3px;
}

.axium-review-date {
	font-weight: 100;
	padding: 0 10px;
}

.axium-review-body p {
	line-height: 1.4;
	padding: 0 30px 30px 0;
}



