body {
	background: whitesmoke;
	font-family: "Helvetica", Arial, sans-serif;
	border-top: 5px solid #000;
	border-bottom: 5px solid #000;
	padding-bottom: 20px;
}

header {
	text-align: center;
	padding: 40px 0;
}

nav {
	font-size: 18px;
}

.link-navigation {
	padding: 0 10px;
}

.current-page {
	text-decoration: none;
}

.other-page {
	font-weight: bold;
}

a, a:visited {
	color: #000;
}

a:hover {
	color: #2290d6;
}

h1 {
	font-size: 50px;
	margin: 10px 0;
}

h2 {
	font-size: 23px;
	letter-spacing: 2px;
}

h3 { 
	color: #2290d6;
	font-size: 19px;
}

h4 {
	margin-bottom: 0px;
}

section {
	border-top: 1px solid #000;
	margin: 0px 70px;
}

.text-wrap {
	float: right;
	margin: 20px 0px 20px 10px;
	padding: 10px;
}

img {
	margin: 30px 0;
	border: 1px solid #000;
}

p {
	font-size: 17px;
}

footer {
	border-top: 1px solid #000;
	margin: 0px 350px 0px 70px;
	padding-bottom: 60px;
}

.social-media {
	font-weight: bold;
	margin: 20px -40px;
}

