body.home {
	font-family: 'Source Sans Pro',helvetica,sans-serif;
	margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.cforum_sidebar {
	width: 20%;
	height: 717px;
	background: #FFF;
	color: #000;
	overflow: auto;
    float: left;
    z-index: 20;
    position: fixed;
    left: 0px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,.2);
}

.cforum_small_logo {
	margin: 70px auto 85px auto;
    display: block;
    width: 80px;
    height: auto;
}

.cforum_nav {
    text-align: right;
    list-style-type: none;
    margin-right: 40px;
    float: right;
}

.cforum_nav li {
	font-weight: 400;
    width: 150px;
    height: 70px;
    font-size: 14px;
    padding: 7px 0;
    border-top: 1px solid #B2B2B2;
}

.cforum_nav li a {
    text-decoration: none;
    color: #373636;

}

.cforum_main_wrap {
    float: right;
    width: 80%;
    height: auto;
    font-weight: 400;
    color: #373636;
    display: block;
    position: relative;
}

#cforum_title_slide {
    background: url(../images/home_bg.jpg) no-repeat top center;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 717px;
}

.cforum_big_logo {
    margin: 0 auto;
    display: block;
    width: 600px;
    height: auto;
    padding-top: 200px;
}
.forum_title {
    margin: 0;
    padding-top: 200px;
    text-align: center;
    font-size: 44px;
    letter-spacing: 3px;
}

.forum_tagline {
    text-align: center;
    position: relative;
    margin: 0;
    font-size: 34px;
    font-weight: 400;
}

#cforum_overview_slide {
    background: #DB2E0E;
    margin: 0;
    padding: 0;
    height: 717px;
    color: #FFF;
    text-align: center;
    position: relative;
}

.cforum_overview_header {
    margin: 0 auto;
    padding: 100px 0 30px 0;
    width: 70%;
    font-weight: 700;
    font-size: 36px;
    color: #000;
}

#cforum_overview_slide p {
    margin: 0 auto;
    width: 70%;
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 1.4;
}

#cforum_logistics_slide {
    background: #F7F7F7;
    margin: 0;
    padding: 0;
    height: 717px;
}

.cforum_logistics_details {
    padding: 50px 10px 50px 50px;
    width: 35%;
    height: 400px;
    float: left;
}

iframe {
    padding: 50px 50px 50px 10px;
    float: right;
    width: 45%;
    height: 617px;
}

.cforum_logistics_details h1 {
    color: #DB2E0E;
    font-size: 40px;
}

.cforum_logistics_details p {
    padding: 0;
    margin: 0;
}

#cforum_presenters_slide {
    background: #F7F7F7;
    margin: 0;
    padding: 0;
    height: 718px;
}

.cforum_presenter_bios {
    width: 50%;
    margin: 0;
    padding: 0;
    float: left;
    height: 359px;
    color: #FFF;
}

.bio1 {
    background: #DB2E0E;
}

.bio2 {
    background: #5F5F62;
}

.bio3 {
    background: #003A5D;
}

.bio4 {
    background: #02A0B1;
}

.cforum_presenter_bios img {
    float: left;
    margin: 20px;
}

.cforum_presenter_bios h1 {
    font-size: 26px;
    margin: 20px 0 10px 0;
    padding: 0;
}

.cforum_presenter_bios h2 {
    font-size: 20px;
    margin: 0;
    padding: 0;
    font-weight: 400;
}

.cforum_presenter_bios p {
    font-size: 14px;
    line-height: 1.5;
    margin: 20px;
}

#cforum_contact_slide {
    background: url(../images/atlanta_bg2.jpg) no-repeat top center;
    background-size: cover;
    margin: 0;
    padding: 50px 0 0 0;
    height: 667px;
}

