body {
	font-family: Helvetica,Arial,sans-serif;
}

#id-notification {
	background: #EEE;
	padding: 10px;
	border: 1px solid #CCC;
}

#code-notification {
	background: rgba(0,0,0,.05);
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 4px;
	padding: 1px 4px;
}

.class-notification {
	background: #FFE;
	padding: 10px;
	border: 2px solid #CCB;
	margin-bottom: 10px;
}