body {
	font-family: Georgia,serif;
	line-height: 1.4;
	margin: 3em;
	color: #888;
}

h1 {
	color: #000;
}

p {
	margin-bottom: 23px;
}

em {
	color: black;
	font-style: italic;
}

blockquote {
	margin: 0;
	padding-left: 10px;
	border-left: 5px solid #EEE;
}

blockquote p {
	font-style: italic;
}

blockquote em {
	font-style: normal;
}

