@import url('http://fonts.googleapis.com/css?family=Open+Sans');
/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: 'Open Sans',sans-serif;
     background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
     background-size: cover;
     height: auto;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 100%;
  margin: auto;
  height: auto;

}

header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

header {
  height: 275px;
}

.relaxr-logo {
  font-size: 24px;
  color: #FFF;
  font-weight: 800;
  margin: 20px 40px 50px 40px;
  letter-spacing: 1px;
}

.tagline {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  color: #FFF;
  margin: 0px 0px 40px 0px;
}

.header-button {
  width: 150px;
  height: 30px;
  background: #f9e42e;
  padding: 6px 0 0 0;
  text-align: center;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  text-decoration: none;
  color: #033048;
  font-weight: 800;
  font-size: 14px;
}

.benefits-container {
  background: #F2F6F5;
  width: 100%;
  padding: 20px 40px;
}

.benefits-content {
  width: 70%;
  color: #6E7B7C;
}

.benefits-headline {
  font-weight: 600;
  font-size: 20px;
  color: #033048;
}

.benefits-paragraph .benefits-list {
  font-weight: 300;
  font-size: 13px;
}

.testimonial-container {
  width: 100%;
  height: auto;
  background: rgba(4,12,42,.7);
  text-align: center;
  color: #FFF;
  padding: 20px 40px;
}

.testimonal-content {
}

.testimonial-paragraph {
  font-weight: 300;
  font-style: italic;
  font-size: 13px;
  width: 60%;
  display: block;
  margin: 0 auto;
  padding: 15px 0 0 0;
}

.testimonial-attribution {
  font-weight: 600;
  font-size: 13px;
}

.sign-up {
  background: #f9e42e;
  height: 60px;
  padding-top: 15px;
}

.sign-up-button {
  width: 150px;
  height: 30px;
  background: #033048;
  padding: 7px 0 0 0;
  text-align: center;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 800;
  font-size: 12px;
}

footer {
  background: #121212;
  height: auto;
  padding: 5px;
}

.footer-logo {
  font-size: 24px;
  color: #f9e42e;
  font-weight: 800;
  text-align: center;
  letter-spacing: 1px;
}

.social-media {
  text-align: center;
  list-style: none;
  padding: 0 10px 0 0;
  margin: 0;
}

.social-media li {
   display: inline-block;
   padding: 0 10px;
   margin: 0;
}

.social-media-icon {
  width: 70%;
  height: 70%;
}

.copyright {
  font-size: 9px;
  font-weight: 600;
  color: #FFF;
  text-align: center;
  margin: 20px 0;
}