<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Layout 4</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
	<header class="nav-header">
		<div class="nav-logo">
			<div class="container"></div>
		</div>
		<ul class="nav-list">
			<li><div class="container"></div></li>
			<li><div class="container"></div></li>
			<li><div class="container"></div></li>
			<li><div class="container"></div></li>
		</ul>

	</header>

	<section class="full-main">
		<div class="container"></div>
	</section>


	<div class="aside-wrapper">
		<section class="aside-left">
			<div class="container"></div>
		</section>
		<section class="aside-middle">
			<div class="container"></div>
		</section>
		<section class="aside-right">
			<div class="container"></div>
		</section>
	</div>
	<footer>
		<div class="container"></div>
	</footer>
</body>
</html>