<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Layout 3</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
	<header>
		<div class="container"></div>
	</header>
	<div class="main-wrapper">
		<section class="left-main">
			<div class="container"></div>
		</section>
		<section class="right-main">
			<div class="container"></div>
		</section>
	</div>
	<div class="aside-wrapper">
		<section class="aside-left">
			<div class="container"></div>
		</section>
		<section class="aside-middle">
			<div class="container"></div>
		</section>
		<section class="aside-right">
			<div class="container"></div>
		</section>
	</div>
	<footer>
		<div class="container"></div>
	</footer>
</body>
</html>