<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Layout 2</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
	<header>
		<div class="container"></div>
	</header>
	<div class="wrapper">
		<aside class="left-sidebar">
			<div class="container"></div>
		</aside>
		<section class="main">
			<div class="container"></div>
		</section>
		<nav class="right-sidebar">
			<div class="container"></div>
		</nav>
	</div>
	<footer>
		<div class="container"></div>
	</footer>
</body>
</html>